@import "tailwindcss";
@import "@fontsource/special-elite/index.css";

#content-area {
  font-family: "Special Elite", cursive;
  line-height: 1.7;
}
.spy-font {
  font-family: "Special Elite", cursive;
}
#content-area p {
  margin-bottom: 1rem;
}

body {
  background-image: url(/assets/img/wood.png);
}

#folder {
  background-color: #e0ceae;
}
.sticky-note {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 180px;
  padding: 15px;
  background-color: #ffff8886;/* og color w/o alpha: #FFFF88 */
  box-shadow: 5px 5px 8px rgba(0,0,0,0.3);
  transform: rotate(-3deg);
  font-family: "Special Elite", cursive;
  z-index: 1000;
  line-height: 1.5;
  color: #333;
  font-size: 14px;
  text-align: center;
}
.sticky-note:hover {
  background-color: #FFFF88; /* og color w/o alpha: #FFFF88 */
  cursor: pointer;
}
.sticky-note .important {
  font-weight: bold;
  color: #D00000;
  font-size: 16px;
}
* {
  word-break: break-word;
}

a,button {
  cursor: pointer;
}