@import "tailwindcss";

@media screen and (max-width: 1200px) {
  .hard-fork {
    position: relative;
  }
}

@media screen and (max-width: 800px) {
  .paper {
    width: 90vw;
    height: fit-content;
  }

  .hard-fork img {
    width: 10vh;
  }
}

@media screen and (min-width: 800px) {
  .paper {
    width: 80vw;
    height: 1200px;
    rotate: -5deg;
  }
  
  .hard-fork img {
    width: 10vw;
  }
}

body {
  background-image: url("/assets/img/wood.png");
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Special Elite;
  padding-bottom: 500px;
  overflow-x: hidden;
}

.content {
  height: 100vh;
}

.paper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-top: 50px;
  padding: 50px;
}

.paper p {
  text-indent: 20pt;
  text-align: justify;
  margin-bottom: 30px;
  font-size: 20px;
}

.watermark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  font-size: 72px;
  opacity: 0.15;
  white-space: nowrap;
  width: 100%;
  pointer-events: none;
  user-select: none;
  color: red;
}

black {
  background-color: black;
  white-space: pre;
  pointer-events: none;
  user-select: none;
}

h1,
h3 {
  text-align: center;
}

.hard-fork {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 2vw;
}
